<div class="bgded" style="background-image:url('https://papers.co/wallpaper/papers.co-vo65-blocks-rainbow-lego-art-pattern-29-wallpaper.jpg');">
    <div id="pageintro" class="hoc clear">


        <!-- <img src="https://images8.alphacoders.com/107/1074471.png"> -->
        <div class="container-all">
          <input type="radio" id="1" name="image-slide" class="hidden"/>
          <input type="radio" id="2" name="image-slide" class="hidden"/>
          <input type="radio" id="3" name="image-slide" class="hidden"/>

          <div class="slide">

            <div class="item-slide">
              <img src="https://fabianandrade14.github.io/api-images/Recursos/00.jpg">
            </div>

            <div class="item-slide">
              <img src="https://fabianandrade14.github.io/api-images/Recursos/01.jpg">
            </div>

            <div class="item-slide">
              <img src="https://fabianandrade14.github.io/api-images/Recursos/02.jpg">
            </div>


          </div>

          <div class="pagination">

            <label class="pagination-item" for="1">
              <img src="https://images8.alphacoders.com/107/1074471.png">
            </label>

            <label class="pagination-item" for="2">
              <img src="https://images8.alphacoders.com/107/1074471.png">
            </label>

            <label class="pagination-item" for="3">
              <img src="https://images8.alphacoders.com/107/1074471.png">
            </label>

          </div>
        </div>
        <!-- <h3 class="heading">Vestibulum vehicula egestas</h3>
        <p>Rhoncus a odio fusce eu lorem vehicula euismod mauris eget sodales mi duis habitant morbi tristique senectus et netus et malesuada fames.</p>
        <footer><a class="btn" href="#">Turpis egestas</a></footer> -->


    </div>
  </div>

  <div class="wrapper row3">
    <main class="hoc container clear">
      <!-- main body -->

      <div class="sectiontitle">
        <h6 class="heading">ESTRATEGIA INTEGRAL</h6>
        <br>
        <p>
          Reconocer las necesidades de las niñas y los niños durante sus primeros años lleva a desarrollar
          una adecuada estrategia que contribuye a potenciar sus procesos de manera adecuada, aportando
          diferentes aspectos fundamentales para su formación integral.
        </p>
      </div>
      <div class="group">
        <div class="one_half first"><img class="inspace-15 borderedbox" src="../../../assets/images/gnp-sources/fondo-about.png" alt=""></div>
        <div class="one_half">
          <ul class="nospace group inspace-15">
            <li class="one_half first btmspace-50">
              <article>
                <h6 class="heading"><a href="#">Juego</a></h6>
                <p class="nospace">
                  sus primeras emociones placenteras se relacionan con situaciones lúdicas presentes que los llevan
                  a identificar elementos e interactuar con su medio logrando el aprendizaje.
                </p>
              </article>
            </li>
            <li class="one_half btmspace-50">
              <article>
                <h6 class="heading"><a href="#">Literatura</a></h6>
                <p class="nospace">
                  a través de la literatura se desarrollan procesos creativos que contribuyen a formar un medio de
                  expresión e interacción efectivo que aporta de manera constructiva al aprendizaje.
                </p>
              </article>
            </li>
            <li class="one_half first">
              <article>
                <h6 class="heading"><a href="#">Arte</a></h6>
                <p class="nospace">
                  por medio del arte se logra desarrollar de manera libre ideas, pensamientos y sentimientos haciendo
                  que cada concepto adquirido se pueda interpretar desde una realidad individual llegando a relacionarlo
                  con su entorno real.
                </p>
              </article>
            </li>
            <li class="one_half">
              <article>
                <h6 class="heading"><a href="#">Exploración del medio</a></h6>
                <p class="nospace ">
                  Constantemente los niños y las niñas experimentan situaciones en las que desarrollan con gran facilidad
                  conocimiento a través de la curiosidad
                </p>
              </article>
            </li>
          </ul>
        </div>
      </div>

      <!-- / main body -->
      <div class="clear"></div>
    </main>
  </div>
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <div class="wrapper row2">
    <section class="hoc container clear">
      <!-- ################################################################################################ -->
      <div class="sectiontitle">
        <h6 class="heading">LO QUE HACEMOS</h6>
        <br>
        <p>
          Somos una institución educativa con la responsabilidad de acompañar las dimensiones de
          desarrollo en las niñas y los niños durante sus primeros años de vida de manera profesional
          creemos en la importancia de la formación de valores humanos generando ambientes armoniosos
          en los diferentes entornos y logrando potenciar procesos de manera integral.
        </p>
      </div>
      <ul class="nospace group overview services">

        <li class="one_third">
          <article><a href="#"><i class="fa fa-angellist"></i></a>
            <h6 class="heading"><a href="#">Equipo profesional</a></h6>
            <p>
              Nuestros docentes y especialistas tienen gran conocimiento y experiencia en el desarrollo
              integral de los niños y las niñas durante sus primeros años de vida, creen en la importancia
              de acompañar y desarrollar acciones profesionales basadas en la individualidad y ritmos de
              aprendizaje logrando potenciar cada una de las necesidades presentes, todo esto a través de
              la importancia del afecto y la relación (institución-familia-sociedad).
            </p>
            <footer><a href="#">Ver más &raquo;</a></footer>
          </article>
        </li>
        <li class="one_third">
          <article><a href="#"><i class="fa fa-language" aria-hidden="true"></i></a>
            <h6 class="heading"><a href="#">¡Aprender es divertido!</a></h6>
            <p>
              Un aprendizaje es significativo cuando se desarrolla de manera divertida, es importante crear
              ambientes y actividades adecuados para lograr experiencias fantásticas basadas en la caracterización
              de los niños de las diferentes edades.
            </p>
            <footer><a href="#">Ver más &raquo;</a></footer>
          </article>
        </li>
        <li class="one_third">
          <article><a href="#"><i class="fa fa-graduation-cap"></i></a>
            <h6 class="heading"><a href="#">Calidad de educación</a></h6>
            <p>
              El plan pedagógico propuesto para cada año escolar parte de las necesidades presentes en los diferentes
              grados, se modifican temáticas, metodologías y elementos de apoyo teniendo como base la caracterización
              de los niños y niñas realizado al iniciar la experiencia educativa. Se ofrece una educación con calidad
              y logros significativos para cada uno de los estudiantes.
            </p>
            <footer><a href="#">Ver más &raquo;</a></footer>
          </article>
        </li>
        <li class="centrar-contenido">
          <article><a href="#"><i class="fa fa-heart" aria-hidden="true"></i></a>
            <h6 class="heading"><a href="#">La gran familia generaciones de paz</a></h6>
            <p>
              La institución educativa dentro de sus acciones pedagógicas invita a las familias a participar en sus procesos
              de formación, creando vínculos afectivos adecuados durante el desarrollo de actividades cotidianas, de ésta manera
              logra formar un equipo de trabajo que aporta de manera activa en los resultados asertivos.
            </p>
            <footer><a href="#">Ver más &raquo;</a></footer>
          </article>
        </li>
      </ul>

    </section>
  </div>

  <div class="wrapper row3" style="background-image:url('https://papers.co/wallpaper/papers.co-vo65-blocks-rainbow-lego-art-pattern-29-wallpaper.jpg');">
    <figure class="hoc container clear">
      <!-- ################################################################################################ -->
      <figcaption class="sectiontitle hoc clear">
        <h1 class="heading tipo-letra">¡UNA VISITA A NUESTRAS EXPERIENCIAS!</h1>
        <br>
      </figcaption>
      <ul class="nospace group overview">
        <li class="one_third"><a href="#"><img src="../../../assets/images/gnp-sources/fondos/01.JPG" alt=""></a></li>
        <li class="one_third"><a href="#"><img src="../../../assets/images/gnp-sources/fondos/02.JPG" alt=""></a></li>
        <li class="one_third"><a href="#"><img src="../../../assets/images/gnp-sources/fondos/03.JPG" alt=""></a></li>
        <li class="one_third"><a href="#"><img src="../../../assets/images/gnp-sources/fondos/04.JPG" alt=""></a></li>
        <li class="one_third"><a href="#"><img src="../../../assets/images/gnp-sources/fondos/05.JPG" alt=""></a></li>
        <li class="one_third"><a href="#"><img src="../../../assets/images/gnp-sources/fondos/06.JPG" alt=""></a></li>

      </ul>
      <!-- ################################################################################################ -->
    </figure>
  </div>

