<div class="bgded" style="background-image:url('https://p4.wallpaperbetter.com/wallpaper/90/776/888/animation-the-lego-batman-movie-2017-4k-wallpaper-preview.jpg');">
    <div id="pageintro" class="hoc clear">

        <form class="formulario">

            <h1>Iniciar Sesión</h1>
             <div class="contenedor">
                 <div class="input-contenedor">
                 <input type="text" placeholder="Correo Electronico">
                 </div>
      
                 <div class="input-contenedor">
                 <input type="password" placeholder="Contraseña">
                 </div>
      
                 <input type="submit" value="Iniciar sesión" class="button">
                 <p>Al registrarte, aceptas nuestras Condiciones de uso y Política de privacidad.</p>
                 <p>¿No tienes una cuenta? <a class="link" routerLink="register">Registrate </a></p>
             </div>
            </form>

    </div>
  </div>