<div class="wrapper row4">
    <footer id="footer" class="hoc clear"> 
      
      <div class="one_quarter first">
        <h6 class="heading">
          <img src="../../../../assets/images/gnp-sources/logo_3.png">  
        </h6>
        <ul class="nospace btmspace-30 linklist contact fuente-letra">
          <li><i class="fa fa-map-marker"></i>
            <address>
              Barrio, Aquimin &amp; Carrera 10 No. 11-16
            </address>
          </li>
          <li><i class="fa fa-phone"></i> (+57) 310 2075 955</li>
          <li class="tamaño-letra"><i class="fa fa-envelope-o"></i>Generacionesdepaz1@gmail.com</li>
        </ul>
        <ul class="faico clear">
          <li>
            <a 
              class="faicon-facebook" 
              href="https://www.facebook.com/Jardín-Infantil-Generaciones-de-Paz-Tunja-273227679501341">
             <i class="fa fa-facebook">
           </i>
          </a>
         </li>
        
         <li>
           <a 
           class="faicon-twitter" 
           href="https://twitter.com/PazJardin">
           <i class="fa fa-twitter">

           </i>
          </a>
        </li>
        </ul>
      </div>
      <!-- <div class="one_quarter">
        <h6 class="heading">Elit eros imperdiet</h6>
        <ul class="nospace linklist">
          <li><a href="#">Aenean venenatis leo</a></li>
          <li><a href="#">In nunc elementum sed</a></li>
          <li><a href="#">Commodo nibh congue</a></li>
          <li><a href="#">Donec porttitor nec</a></li>
          <li><a href="#">Ex id egestas in feugiat</a></li>
        </ul>
      </div> -->

      <div class="one_quarter fuente-letra">
        
        <h6 class="heading fuente-letra">¡Contactanos!</h6>
        
        <p class="nospace btmspace-15">
          Consigue información sin salir de casa. Precios e información de los cursos del colegio
        </p>
        
        <form method="post" action="#">
          
          <fieldset>
           
            <legend>Newsletter:</legend>
            
            <input 
            class="btmspace-15" 
            type="text" value="" 
            placeholder="Nombre">

            <input 
            class="btmspace-15" 
            type="text" 
            value="" 
            placeholder="Correo">
            
            <button 
            type="submit" 
            value="submit"
            >Enviar</button>

          </fieldset>
        </form>
      </div>
   
    </footer>
  </div>
  
  <div class="wrapper row5">
    <div id="copyright" class="hoc clear"> 
   
      <p class="fl_left">Copyright &copy; {{ anio }} - Todos los derechos reservados - <a href="#">Generaciones de Paz</a></p>
      
   
    </div>
  </div>