<div class="bgded overlay" style="background-image:url('https://img.wallpapersafari.com/desktop/800/450/6/51/Evy83S.jpg');">
    <section id="breadcrumb" class="hoc clear">
      <ul>
        <li><a routerLink="about">Acerca de</a></li>
      </ul>
      <h6 class="heading">PARA SABER MÁS DE NOSOTROS</h6>
    </section>
  </div>

  <div class="wrapper row3">
    <main class="hoc container clear">

      <div class="sidebar one_quarter first">

        <div class="sdb_holder">
          <h6>Generaciones de Paz</h6>
          <address>
          Barrio, Aquimin & Carrera 10 No. 11-16<br>
          Tunja, Boyacá<br>
          <br>
          </address>
        </div>

      </div>

      <div class="content three_quarter">
        <h1>¿QUÉ ES GENERACIONES DE PAZ?</h1>
        <img class="imgr borderedbox inspace-5" src="../images/demo/imgr.gif" alt="">
        <p>
          Somos una institución educativa con la responsabilidad de acompañar las dimensiones de desarrollo en las niñas y niños durante sus primeros años de vida
          de manera profesional, creemos en la importancia de la formación de valores humanos generando ambientes armoniosos en los diferentes entornos y logrando
          potenciar pocesos de manera integral.
        </p>
        <br>
        <h1>CONTAMOS CON UN EQUIPO PROFESIONAL</h1>
        <p>
          Nuestros docentes y especialistas tienen gran conocimiento y experiencia en el desarrollo integral de los niños y las niñas durante sus primeros años de
          vida, creen en la importancia de acompañar y desarrollar acciones profesionales basadas en la individualidad y ritmos de aprendizaje logrando potenciar
          cada una de las necesidades presentes, todo esto a través de la importancia del afecto y la relación INSTITUCIÓN/FAMILIA/SOCIEDAD.
        </p>
        <br>
        <h1>LA DIVERSIÓN ES PRIMERO</h1>
        <p>
          Un apredizaje es significativo cuando se desarrolla de manera divertida, es importante crear ambientes y actividades adecuados para lograr experiencias
          fantásticas basadas en la caracterización de los niños de las diferentes edades.
        </p>
        <br>
        <h1>CALIDAD EDUCATIVA</h1>
        <p>
          El plan pedagógico propuesto para cada año escolar parte de las necesidades presentes en los diferentes grados, se modifican temáticas, metodologías y
          elementos de apoyo teniendo como base la caracterización de los niños y niñas realizado al iniciar la experiencia educativa. Se ofrece una educación con
          calidad y logros significativos para cada uno de los estudiantes.
        </p>

      </div>

      <div class="clear">
      </div>

    </main>

  </div>

  <div class="wrapper coloured">
    <article class="hoc cta clear">

      <h6 class="three_quarter first">¡Pasa, Conocenos!</h6>
      <footer class="one_quarter"><a class="btn" target="_blank" href="https://www.facebook.com/Jardín-Infantil-Generaciones-de-Paz-Tunja-273227679501341">Mira las novedades</a></footer>

    </article>
  </div>
